
## <summary>policy for pictureex</summary>


########################################
## <summary>
##	Transition to pictureex.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`pictureex_domtrans',`
	gen_require(`
		type pictureex_t, pictureex_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, pictureex_exec_t, pictureex_t)
')


########################################
## <summary>
##	Execute pictureex server in the pictureex domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pictureex_initrc_domtrans',`
	gen_require(`
		type pictureex_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, pictureex_initrc_exec_t)
')


########################################
## <summary>
##	Search pictureex lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pictureex_search_lib',`
	gen_require(`
		type pictureex_var_lib_t;
	')

	allow $1 pictureex_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read pictureex lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pictureex_read_lib_files',`
	gen_require(`
		type pictureex_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, pictureex_var_lib_t, pictureex_var_lib_t)
')

########################################
## <summary>
##	Manage pictureex lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pictureex_manage_lib_files',`
	gen_require(`
		type pictureex_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, pictureex_var_lib_t, pictureex_var_lib_t)
')

########################################
## <summary>
##	Manage pictureex lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`pictureex_manage_lib_dirs',`
	gen_require(`
		type pictureex_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, pictureex_var_lib_t, pictureex_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a pictureex environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`pictureex_admin',`
	gen_require(`
		type pictureex_t;
		type pictureex_initrc_exec_t;
		type pictureex_var_lib_t;
	')

	allow $1 pictureex_t:process { ptrace signal_perms };
	ps_process_pattern($1, pictureex_t)

	pictureex_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 pictureex_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, pictureex_var_lib_t)

')

